res/*.zip
res/*.npy
res/*
texfiles/*.aux
texfiles/*.fdb_latexmk
texfiles/*.log
texfiles/*.fls
texfiles/*.out
texfiles/*.synctex.gz
scripts/tools
scripts/tutorials/pytorch/data/**
out/an_en_outputs/*.json