res/*.zip
res/*.npy
res/br_timeseries.csv
res/ssn/*
writeup/*.aux
writeup/*.fdb_latexmk
writeup/*.log
writeup/*.fls
writeup/*.out
writeup/*.synctex.gz
scripts/tools
scripts/tutorials/**
scripts/tutorials/pytorch/data/**
scripts/tutorials/pytorch/mlruns/**
out/an_en_outputs/*.json